.modal {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  z-index: 10;
  transition: 0.5s;
}

.active {
  opacity: 1;
  pointer-events: all;
}

.modalContent {
  padding: 1em;
  border-radius: 20px;
  background-color: #eaeaea;
  transform: scale(0.5);
  transition: 0.4s all;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modalContent.active {
  transform: scale(1);
}

.close {
  align-self: flex-end;
  position: relative;
  width: 2em;
  height: 2em;
  cursor: pointer;
}

.children {
  width: 100%;
}

@media (min-width: 640px) {
  .children {
    width: 80%;
  }
}

@media (min-width: 1024px) {
  .modalContent {
    width: 50%;
  }

  .children {
    padding: 3em;
    width: 90%;
  }
}
